@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #08b1c9;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}

.Header {
  position: relative;
  z-index: 2;
  background: #000000;
  padding: 5px 10px;
}

.Header a {
  text-decoration: none;
  color: #f3f3f3;
  transition: color 0.5s ease;
}
.Header a:hover {
  color: #08b1c9;
}

.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-logo img {
  height: 60px;
}

.Characters {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
}

.Characters-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.Characters-card {
  text-decoration: none;
  background-color: white;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-duration: 2s;
  animation-name: fade;
}

.Characters-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-card h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.Characters-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  transition: color 300ms ease, background 0.5s ease;
}
.Characters-card h3:hover {
  background-color: #c8dd5d;
  color: white;
}

.Characters-item {
  text-decoration: none;
  box-shadow: 1px 1px 10px 2px #999999;
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  background-color: #f3f3f3;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-name: fade;
  animation-fill-mode: backwards;
}

.Characters:hover .Characters-item{
  opacity: 0.8;
}

.Characters:hover .Characters-item:hover{
  opacity: 1;
  box-shadow: 1px 1px 20px 4px #444444;
}

.Characters-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-item h2 {
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.5s ease;
}

.Characters-item:hover h2 {
  color: #026C86;
}

.Characters-item a {
  text-decoration: none;
  color: #026C86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}